ffmpeg>=1.4
librosa>=0.11.0
nltk>=3.9.2
pyannote-audio>=3.4.0
pydub>=0.25.1
python-certifi-win32>=1.6.1
scipy>=1.15.3
textblob>=0.19.0
torch>=2.8.0
transformers>=4.57.6
vosk>=0.3.45
webrtcvad>=2.0.10
speechbrain>=1.0.3
hdbscan>=0.8.41
soundfile>=0.13.1
scikit-learn>=1.7.2
pyannote.metrics>=3.2.1
faster-whisper>=1.2.1
sentencepiece>=0.2.1
whisperx==3.8
huggingface-hub>=0.36.0
omegaconf>=2.3.0
torchaudio>=2.8.0

# Required for analysis outputs
pandas>=2.3.3
numpy>=2.2.6
sentence-transformers>=5.2.3
openpyxl>=3.1.5