ffmpeg>=1.4
librosa>=0.10.0
nltk>=3.9.0
pyannote-audio>=3.3.2
pydub>=0.25.0
python-certifi-win32>=1.6.0
scipy>=1.10.0
textblob>=0.18.0
torch>=2.8.0
transformers>=4.48.0
vosk>=0.3.45
webrtcvad>=2.0.10
speechbrain>=1.0.0
hdbscan>=0.8.32
soundfile>=0.12.0
scikit-learn>=1.0.0
pyannote.metrics>=3.2
whisperx @ git+https://github.com/m-bain/whisperx.git
huggingface-hub>=0.24.0
omegaconf>=2.3.0
torchaudio>=2.8.0